body{
    text-align: center;
    color: rgba(0,0,0,.5);
    font: 'Raleway',sans-serif;
    top: 15%;
    background: linear-gradient(to right, red, yellow);
    letter-spacing: .5em;
}

h1{
    text-align: center;
    font: 600 3.5em 'Raleway',sans-serif;
    color: rgba(0,0,0,.5);
    letter-spacing: .5em;
    width: 100%;
    text-transform: none;
}

h2{
     text-align: center;
    font: 900 1em 'Raleway',sans-serif;
    color: rgba(0,0,0,.5);
    letter-spacing: .5em;
    text-transform: uppercase;
}